<div fxLayout="row" fxLayoutAlign="center center" class="dashboard">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                Welcome
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
            {{userEmail}}
        </mat-card-content>
       
    </mat-card>
</div>
